* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  /* height: 100vh; */
  height: calc(var(--vh, 1vh) * 100);
  background-color: cornflowerblue;
  color: rgb(190, 220, 229);
}

h1 {
  margin: 0;
}

a {
  all: unset;
  cursor: pointer;
}

.app-main {
  width: auto;
  height: 90%;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: clamp(1.125rem, 5.75vw, 2.25rem);
}

.app-header {
  text-align: center;
}

.app-content {
  /* border: 1px solid black;
  padding: 0.5rem; */
}

.item {
  border: 1px solid lightblue;
  min-width: 180px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Navigator */
.navigator-wrapper {
  font-weight: normal;
  font-size: 1.125rem;
  margin-right: 0.5rem;
}

.navigator-wrapper li {
  margin-bottom: 0.5rem;
}

/* Geolocation */
.geo-wrapper {
  display: flex;
  flex-direction: column;
  font-size: clamp(1rem, 2.75vw, 2rem);
}
.geo-wrapper th {
  text-align: left;
}
.geo-wrapper td {
  text-align: right;
}

/* visibilityState */
.vis-wrapper {
  width: auto;
  height: 70%;
  font-size: clamp(1.125rem, 5.75vw, 1.35rem);
  text-align: center;
  overflow-y: auto;
  overflow-anchor: auto;
}
.vis-wrapper li:nth-child(2n) {
  background-color: gray;
  color: white;
}
.vis-wrapper .vis-time-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.vis-wrapper .vis-time {
  color: white;
  margin: 0 7px;
}
hr {
  all: unset;
  width: 100%;
  height: 1.5px;
  background-color: rgb(49, 49, 49);
}

/* visualViewport */
.visual-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 5px solid #2b52ff5b;
}
.visual-wrapper .visual-header {
  width: 100%;
  /* height: 120px; */
  background-color: #2b52ff5b;
  display: flex;
  flex: 0.18;
  justify-content: center;
  align-items: center;
}
.visual-wrapper .visual-content {
  width: 100%;
  /* height: calc(100% - 120px); */
  display: flex;
  flex: 1;
}
.visual-content-innerHeight,
.visual-content-visualViewport {
  flex: 1;
  text-align: center;
  padding-top: 1.5rem;
}
.visual-content-innerHeight div,
.visual-content-visualViewport div {
  padding-top: 1.5rem;
  font-size: clamp(0.85rem, 2.75vw, 1.35rem);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.visual-wrapper input {
  width: 100%;
  padding: 5px;
  background-color: lightgray;
}

/* Footer */
.app-footer {
  width: auto;
  min-height: 10%;
  font-size: clamp(0.85rem, 2.75vw, 2rem);
  font-weight: 600;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.app-footer .nav {
  all: unset;
  text-align: center;
  cursor: pointer;
  border: 1px solid lightblue;
}

.app-footer .nav:nth-child(-n + 3) {
  border-right-width: 0;
  border-bottom-width: 0;
}

.app-footer .nav:nth-child(4) {
  border-bottom-width: 0;
}

.app-footer .nav:nth-child(n + 5) {
  border-right-width: 0;
}

.app-footer .nav:nth-child(8) {
  border-right-width: 1px;
}

/* .app-footer .nav:last-child {} */
